<div class="aboutMeSection">
<div class="aboutMe" style="position: relative;">
    <svg style="position: absolute; top:0; left:0; opacity:0.08; width: 100%; margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="grey" fill-opacity="1" d="M0,64L48,74.7C96,85,192,107,288,133.3C384,160,480,192,576,218.7C672,245,768,267,864,250.7C960,235,1056,181,1152,160C1248,139,1344,149,1392,154.7L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
      <svg style="position: absolute; bottom:0; left:0; opacity:0.08; width: 100%; margin: auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="grey" fill-opacity="1" d="M0,64L48,74.7C96,85,192,107,288,133.3C384,160,480,192,576,218.7C672,245,768,267,864,250.7C960,235,1056,181,1152,160C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg> 
    <div><h1 class="aboutMe__title">Hey! Welcome to my site!<br><br></h1></div>
    <div><p class="aboutMe__text">My name is German, I am a Junior Web Developer from Madrid (Spain). In 2020 I decided to start learning
        to code and after taking some time to learn on my own some of the basics of coding, I joined the prestigious Bootcamp offered by Upgrade to cement my previous knowledge and
        unleash my potential learning and working alongside renowned professionals in the sector.
        <br>
        <br>
        As a curious individual and passionate tech geek I have always been intrigued by the wold of coding, since I grew up surrounded by computers and gadgets, helping my dad repairing computers and setting up networks and solving any kind of tech-related issues for friends. <br><br>
        I have a very diverse background having studied in the first place biology and after audiovisual engineering, hence why I am proficient in the world of audiovisual design while having solid knowledge in technologies like photoshop or premiere, that added to my passion to learn, creativity and fast learning pace makes me an unique web developer with an interesting set of skills, willing to grow and develop my career.
        I have solid foundations in HTML5 and CSS3 and I enjoy "playing" with native javascript aswell. Angular and React are my preferred javascript frameworks but soon I've plan to start learning VueJs. I find PHP entertaining and the have fun building the back End side hence why I set the goal for this new year to expand my knowledge learning python and Django to widen the palette of tools and possibilities.
        <br>
        <br>
        If (you read this far)Thanks for your time!
        </p>
        <h5>Hope to hear from you! Lets stay in touch!</h5>
        <br>
        <p style="font-size:1.2rem">GERMAN PALERO</p>
        <p>germanpalero@gmail.com</p>
        <p>Madrid(Spain)/London(UK)</p>
        <article class="socialButtonSpace" style="color: black; font-size: 1.5rem;">
            <a style="text-decoration: none; padding: 1rem; color: rgb(73, 73, 73);" href="https://uk.linkedin.com/in/german-palero-b47b36166" class="fa fa-linkedin socialButton"></a>
            <a style="text-decoration: none; padding: 1rem; color: rgb(73, 73, 73);" href="https://www.instagram.com/soulofkumami" class="fa fa-instagram socialButton"></a>
            <a style="text-decoration: none; padding: 1rem; color: rgb(73, 73, 73);" href="https://www.twitter.com/aineiriel" class="fa fa-twitter socialButton"></a>
            
        </article>
        <br>
        <br>
    </div>
    <div><h1 class="aboutMe__title">My Stack<br><br></h1></div>
    <div style="justify-content: center; align-items: center; text-align: center;">
    <p style="text-transform: uppercase;">Javascript & frameworks</p>
    <img class="stackTech" src="../../../assets/images/javascript.png">
    
    <img class="stackTech" src="../../../assets/images/angular.svg">
    <img class="stackTech" src="../../../assets/images/react.png">
    <p style="text-transform: uppercase;">Version control</p>
    <img class="stackTech" src="../../../assets/images/git.png">
    <p style="text-transform: uppercase;">HTML & CSS</p>
    <img class="stackTech" src="../../../assets/images/html5.png">
    <img class="stackTech" src="../../../assets/images/css3.png">
    <img class="stackTech" src="../../../assets/images/bootsrap.png">
    <img class="stackTech" src="../../../assets/images/sass.png">
    <p style="text-transform: uppercase;">Back End</p>
    <img class="stackTech" src="../../../assets/images/node.png">
    <img class="stackTech" src="../../../assets/images/php.png">
    <img class="stackTech" src="../../../assets/images/symfony.png">
    <img class="stackTech" src="../../../assets/images/mysql.png">
    <img class="stackTech" src="../../../assets/images/mongodb.png">
    <p style="text-transform: uppercase;">Utilities</p>
    <img class="stackTech" src="../../../assets/images/docker.png">
    <img class="stackTech" src="../../../assets/images/adobe.png">
</div>
<p style="font-size: 0.8rem; text-align: center; color: rgb(46, 46, 46);" >*I coded this website in Angular</p>
</div>
</div>