.aboutMeSection {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutMe {
  background-color: rgb(241, 241, 241);
  padding: 6rem;
  font-family: roboto mono, sans-serif;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  &__title {
    font-weight: 100;
    color: rgb(78, 78, 78);
  }
  &__text {
    color: rgb(128, 128, 128);
  }
}

.stackTech {
  height: 7vh;
  margin: 1vw;
}

$breakpoint-device: 1050px;
@media (max-width: $breakpoint-device) {
  .aboutMe {
    background-color: rgb(241, 241, 241);
    padding: 1rem;
}
}