<div class="aboutMeSection">
<div class="aboutMe">
    <div><h1 class="aboutMe__title">Hey! Welcome to my site!</h1></div>
    <div><p class="aboutMe__text">My name is German, I am a Junior Web Developer from Madrid (Spain). In 2020 I decided to start learning
        to code and after some self learning I joined the prestigious Bootcamp offered by Upgrade to cement my previous knowledge and
        unleash my potential learning and working alongside renowned professionals in the sector.
        <br>
        <br>
        As a curious individual and passionate tech geek I have always been intrigued by the wold of coding, since I grew up surrounded by computers and gadgets, helping my dad repairing computers and setting up networks. <br><br>
        I studied audiovisual engineering, hence why I am proficient in the world of audio design while having solid knowledge in technologies like photoshop or premiere, that added to my passion to learn, creativity and fast learning pace makes me an unique web developer with an interesting set of skills, willing to grow and develop my career.
        I have solid foundations in HTML5 and CSS3 and I enjoy "playing" with native javascript aswell. Angular and React are my preferred frameworks but soon I've plan to start learning Vue. I love PHP and the back End side hence why I set the goal to expand my knowledge learning python and Django to widen the palette of tools and possibilities.
        <br>
        <br>
        If (you read this far)Thanks for your time!
        <br>
        <br>
        Hope to hear from you! Lets stay in touch!
    </p></div>
    <div style="justify-content: center; align-items: center; text-align: center;">
    <p style="text-transform: uppercase;">Javascript & frameworks</p>
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/javascript.png">
    
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/angular.svg">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/react.png">
    <p style="text-transform: uppercase;">Version control</p>
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/git.png">
    <p style="text-transform: uppercase;">HTML & CSS</p>
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/html5.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/css3.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/bootsrap.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/sass.png">
    <p style="text-transform: uppercase;">Back End</p>
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/node.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/php.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/symfony.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/mysql.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/mongodb.png">
    <p style="text-transform: uppercase;">Utilities</p>
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/docker.png">
    <img class="stackTech animate__animated animate__bounce" src="../../../assets/images/adobe.png">
</div>
<p style="font-size: 0.8rem; text-align: center; color: aliceblue;" >*This page was programmed in Angular</p>
</div>
</div>