.titleText {
  font-size: 8.5vw;
  font-family: bebas neue, sans-serif;
  font-weight: 700;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(270deg, #5ad437, #3748d4, #c33f3f, #d4df39);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 800% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 800% 800%;
  margin-bottom: 0;
  padding-bottom: 0;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}

.bottom {
  text-align: center;
  font-family: roboto mono, sans-serif;
  color: rgb(182, 182, 182);
  &__fullStack {
    text-transform: uppercase;
    font-family: roboto mono, sans-serif;
    font-size: 2vw;
    position: relative;
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
    &:hover {
      background: linear-gradient(270deg, #5ad437, #3748d4, #c33f3f, #d4df39);
      background-size: auto auto;
      background-clip: border-box;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 200%;
      font-weight: 300;

      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
      cursor: pointer;
    }
  }
  &__email {
    font-size: 1rem;
  }
}
.emailText {
  text-decoration: none;
  color: rgb(182, 182, 182);
  &:hover {
    background: linear-gradient(270deg, #5ad437, #3748d4, #c33f3f, #d4df39);
    background-size: auto auto;
    background-clip: border-box;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
  }
}
.socialButtonSpace {
  display: flex;
  justify-content: center;
}
.socialButton {
  padding: 15px;
  color: rgb(189, 189, 189);
  text-decoration: none;
  font-size: 2rem;

  &:hover {
    background: linear-gradient(270deg, #5ad437, #3748d4, #c33f3f, #d4df39);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 800% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    cursor: pointer;
  }
}

.popover {
  position: absolute;
  font-size: 4rem;
  margin-top: -13vh;
  margin-left: 14vw;
}

.stackTech {
  height: 7vh;
  margin: 1vw;
}

$breakpoint-device: 1050px;
@media (max-width: $breakpoint-device) {
  .titleText {
    padding-top: 3rem;
    font-size: 15vw;

    font-weight: 1000;
  }
  .bottom {
    &__fullStack {
      font-size: 5vw;
    }
  }
  .popover {
    position: absolute;
    font-size: 4rem;
    margin-top: -10vh;

    margin: 0, auto;
  }
  .stackTech {
    height: 3vh;
    margin: 0.5vw;
  }
}
