<div class="webDevContainer container">
  <div class="itemPortfolio row">
    <div class="itemsPortfolio col-12 col-md-4">
      <div
        class="itemsPortfolio__image"
        style="
          background-image: url(../../../../../assets/images/projects/rickAndMorty.jpg);
        "
       
      >

    </div>
    
    <img src="../../../../../assets/images/angular.svg" style="height: 7vh">
    <img src="../../../../../assets/images/bootsrap.png" style="height: 7vh">
    </div>
    <div class="itemsPortfolio col-12 col-md-4">
      <div
        class="itemsPortfolio__image"
        style="
          background-image: url(../../../../../assets/images/projects/shop.jpg);
        "
      ></div>
      <img src="../../../../../assets/images/angular.svg" style="height: 7vh">
    <img src="../../../../../assets/images/bootsrap.png" style="height: 7vh">
    
    </div>
    <div class="itemsPortfolio col-12 col-md-4">
      <div
        class="itemsPortfolio__image"
        style="
          background-image: url(../../../../../assets/images/projects/pokemon.jpg);
        "
      ></div>
      <img src="../../../../../assets/images/html5.png" style="height: 7vh">
      <img src="../../../../../assets/images/javascript.png" style="height: 7vh">
      <img src="../../../../../assets/images/css3.png" style="height: 7vh">
      
    </div>
    <div class="itemsPortfolio col-12 col-md-4">
      <div
        class="itemsPortfolio__image"
        style="
          background-image: url(../../../../../assets/images/projects/calculator.jpg);
        "
      ></div>
      <img src="../../../../../assets/images/html5.png" style="height: 7vh">
      <img src="../../../../../assets/images/javascript.png" style="height: 7vh">
      <img src="../../../../../assets/images/css3.png" style="height: 7vh">
    </div>
    <div class="itemsPortfolio col-12 col-md-4">
      <div
        class="itemsPortfolio__image"
        style="
          background-image: url(../../../../../assets/images/projects/cards.jpg);
        "
      ></div>
      <img src="../../../../../assets/images/html5.png" style="height: 7vh">
      <img src="../../../../../assets/images/javascript.png" style="height: 7vh">
      <img src="../../../../../assets/images/css3.png" style="height: 7vh">
    </div>
    <div class="itemsPortfolio col-12 col-md-4">
      <div
        class="itemsPortfolio__image"
        style="
          background-image: url(../../../../../assets/images/projects/other.jpg);"
        routerLink="/portfolio/other"
      ></div>
      <img src="../../../../../assets/images/projects/other.jpg" style="height: 95%; width: 95%; border-radius: 10px;">
    </div>
  </div>
</div>
